body
{
    background-size: cover;
    background-position: center;

}
title {
     background-color: crimson;
}
style. {
    background-color: coral;
    text-color: black;
    font-size: 15px;
    padding: 0px;
    margin: 10px;
}
p5.js {
    background-color: darkred;
    border-color: white;
    text-color: black;
    font-size: 15px;
    padding: 0px;
    margin: 10px;
}